// Avatar
// ---------------------------------------------------------------

// Description
// -----------
//

// HTML structure
// --------------
// <div style="background-image: url(img/avatar.jpg)" class="avatar"></div>

.avatar {
    position: relative;

    background-image: url(/img/backup.png); // Backup default
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-light;

    //box-shadow: 0 0 0 0.2rem $color-primary;
    // box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.12), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.24);
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;

    &.-xl {
        width: 6.4rem;
        height: 6.4rem;
    }

    &.-l {
        width: 4.8rem;
        height: 4.8rem;
    }

    &.-s {
        width: 3.2rem;
        height: 3.2rem;
    }

    &.-xs {
        width: 2rem;
        height: 2rem;
    }
}

.avatar-level {
    position: absolute;
    right: 75%;
    bottom: 0;
    justify-content: center;
    align-items: center;

    display: flex;

    border-radius: 2rem;
    padding: 0 0.4rem;
    height: 2rem;

    background-color: $color-primary-500;

    font-size: 1.4rem;
    font-weight: 500;
    color: $color-light;
}