// Avatar
// ---------------------------------------------------------------

// Description
// -----------
//

// HTML structure
// --------------
// <div style="background-image: url(img/avatar.jpg)" class="avatar"></div>

.avatar {
    background-image: url(/img/backup.png); // Backup default
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

    //box-shadow: 0 0 0 0.2rem $color-primary;
    box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.12), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.24);
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;

    &.-xl {
        width: 6.4rem;
        height: 6.4rem;
    }

    &.-l {
        width: 4.8rem;
        height: 4.8rem;
    }

    &.-s {
        width: 2.4rem;
        height: 2.4rem;
    }

    &.-xs {
        width: 1.6rem;
        height: 1.6rem;
    }
}