// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
	box-sizing: inherit;
}

// The base font-size is set at 62.5% to make REM emulate 10px
html {
	box-sizing: border-box;

	font-size: 62.5%;
}

// Default body styles
// 1. sends footer to the bottom of the screen
body {
	flex-direction: column; // 1

	display: flex; // 1

    min-height: 100vh; // 1

	font-size: 1.6em;
	line-height: 1.6;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.01em;
}

main {
    flex: 1; // 1
}

body {
    background-color: hsla(214, 30%, 95%, 1);
}