.cards {
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    display: grid;
}

.card {
    grid-template-rows: 24rem 1fr;

    overflow: hidden;

    display: grid;

    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 0.8rem;
    width: 100%;

    cursor: pointer;

    text-decoration-line: none;
    color: $color-dark;
}

.card-image {
    position: relative;

    background-image: url(../img/tba.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-light;

    .card-image-content {
        position: absolute;
        left: 0;
        bottom: 0;
        grid-template-columns: 1fr 5rem;

        display: grid;

        padding: 1rem;
        width: 100%;
        min-height: 4rem;

        background-color: rgba($color-dark, 0.9);

        font-weight: 500;
        color: $color-light;

        & .title {
            font-size: 1.4rem;
        }

        & .author {
            font-size: 1.2rem;
        }
    }
}

// must redo
.card-body {
    grid-template-rows: 19rem auto;

    display: grid;

    width: 100%;
    max-height: 100%;

    background-color: $color-light;
}

.card-body > section {
    overflow: auto;

    padding: 1rem 1rem 0;

    font-size: 1.5rem;
    font-weight: 400;
    color: $color-gray-800;
}

.card-body > footer {
    padding: 1rem;

    background-color: $color-gray-200;
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        grid-template-rows: none;
        grid-template-columns: 18rem 1fr;
    }

    .card-image {
        background-position: center center;
    }

    .card-body {
        grid-template-rows: 23rem auto;
    }
}

@media (min-width: $breakpoint-laptop) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: $breakpoint-desktop) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}