/*
 * Added the part for the chat after this needs to be changed/replaced/fixed
 */

 *,
 *:before,
 *:after {
  box-sizing: inherit;
}

/*Chat styling*/
.chatcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userSettings {
  margin-bottom: 20px;
}

.chat {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chat #chatOutput {
  overflow-y: scroll;
  height: 280px;
  width: 100%;
  border: 1px solid #777;
}

.chat #chatOutput p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #bbb;
  word-break: break-all;
}

.chat #chatInput {
  width: 75%;
}

.chat #chatSend {
  width: 25%;
}