// Dropdown
// ---------------------------------------------------------------

// Description
// -----------
// Simple, infinitly stackable dropdown logic to expanded upon 
// with graphics, depending on the needs of  your project.
// You can also use visibility instead of display to 
// enable keyframes.

// Variables
// ---------
$list-width:        17rem; // The width of the dropdown list
$list-space:        100%; // The space between list and the activator

// HTML structure
// --------------
// <nav class="navigation">
//     <a href="#">Link</a>
//     <div class="dropdown">
//         <a href="#">Dropdown</a>
//         <div class="list">
//             <a href="#">Link</a>
//             <a href="#">Link</a>
//         </div> <!-- End of top level menu -->
//     </div> <!-- End of top level dropdown -->
//     <a href="#">Link</a>
// </nav>

.dropdown {
    position: relative;

    &:hover > .list {
        top: $list-space;
        left: 0;
    }

    .dropdown:hover > .list {
        top: 0;
        left: 100%;
    }


    &.-left {
        // 1. Removing default
        &:hover > .list {
            right: 0;
            left: unset; // 1
        }

        // 1. Removing default
        .dropdown:hover > .list {
            right: 100%;
            left: unset; // 1
        }
    }

    &.-center {
        // 1. Removing default
        &:hover > .list {
            left: 50%;
            transform: translateX(-50%);
        }

        // 1. Removing default
        .dropdown:hover > .list {
            right: 100%;
            left: unset; // 1
        }
    }

    &:hover > .list {
        animation: fadeIn 0.1s;
        display: block;
    }
}

.list {
    position: absolute;
    z-index: 1000;

    display: none;

    box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.12), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.24);
    padding: 1.2rem 0;
    border-radius: 1.2rem;
    width: $list-width;

    background-color: $color-gray-100;
}

.list > * {
    display: block;
}

.list > a, .list > div {
    padding: 0.5rem 2rem 0.75rem;

    cursor: pointer;

    text-decoration-line: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: $color-gray-800;
}

.list > a:hover, .list > div:hover {
    background-color: $color-primary;

    color: $color-gray-100;
}

.dropdown > .list:after {
    content: " ";

    position: absolute;
	bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    border: solid transparent;
    border-color: rgba(248, 249, 250, 0);
	border-bottom-color: #f8f9fa;
	border-width: 6px;
    width: 0;
	height: 0;

	pointer-events: none;
}

.list .divider {
    opacity: 0.5;

    margin: 0;
    border-color: $color-gray-100;
    width: 100%;
}

.list * svg {
    margin-right: 0.5rem;
}

// Experiment
.list > a:hover > .fa-heart, .list > div:hover > .fa-heart {
    color: $color-red;
}

.list > a.active, .list > div.active {
    background-color: $color-primary;

    color: $color-gray-100;
}