// Float label
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.float-label {
    position: relative;
}

.float-label > input {
    padding: 1.8rem 2.4rem 1.6rem;
}

.float-label > label {
    position: absolute;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);

    opacity: 0;

    transition: opacity 0.3s ease, transform 0.3s ease;

    font-size: 1.2rem;
}

.float-label input:not(:placeholder-shown) {
    padding: 2.4rem 2.4rem 1rem;
}

.float-label input:not(:placeholder-shown) + label {
    transform: translateY( calc(-50% - 1.6rem) );
    opacity: 0.5;
}