.friendlist {
    
}

.friendlist-title {
    margin-top: 0;
    padding: 1rem 2rem;

    background-color: $color-gray-800;

    font-size: 2.4rem;
    font-weight: 600;
    color: $color-gray-100;
}

.friendlist-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 100rem;
}

.friend {
    // .friend-info | .friend-status | .friend-action
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;

    display: grid;

    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;

    &:hover {
        box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);

        background-color: $color-gray-800;

        color: $color-light;
    }

    &:hover > .friend-actions > .action {
        visibility: visible;
    }
}

.friend-info {
    grid-template-columns: auto 1fr;
    grid-gap: 2rem;

    display: grid;

    .username {
        align-items: center;

        display: flex;

        font-size: 1.6rem;
        font-weight: 500;
    }
}

.friend-status {
    align-items: center;

    display: flex;

    .description {
        display: none;

        margin-left: 0.5rem;

        font-size: 1.6rem;
        font-weight: 500;
    }
}

.friend-actions {
    justify-content: flex-end;
    align-items: center;

    display: flex;

    .action {
        justify-content: center;
        align-items: center;

        visibility: hidden;

        display: flex;

        border-radius: 0.5rem;
        width: 3.2rem;
        height: 3.2rem;

        background-color: $color-gray-900;
        cursor: pointer;

        font-size: 1.4rem;
        text-decoration-line: none;
        color: $color-light;

        &:hover {
            background-color: $color-gray-700;
        }

        &.-delete {

            &:hover {
                background-color: $color-red;

                color: $color-light;
            }
        }

        +.action {
            margin-left: 0.5rem;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .friend {
        grid-gap: 3rem;
    }

    .friend-status .description {
        display: block;
    }
}