.gamepage-container {
    grid-template-columns: auto 1fr;
    display: grid;

    margin: 2rem auto;
    max-width: 120rem;
}

.gamepage-game > canvas {
    display: block;
}

.gamepage-chat {
    background-color: $color-gray-200;
    max-height: 600px;
    max-width: 400px;

    > .view {
        margin-right: 0;
        width: initial;
    }

    hr[data-content]::after {
        background-color: $color-gray-200;
    }
}

.achievementer {
    position: absolute;
}

@media (max-width: $breakpoint-laptop) {
    .gamepage {
        display: none;
    }
}