.rating {
    align-items: flex-start;

    display: flex;

    > svg.fa-heart {
        font-size: 1.6rem;
        color: $color-red;
    }

    > .rating-placement {
        margin-left: 0.2rem;

        font-size: 1.2rem;
        font-weight: 500;
        color: $color-light;
    }
}