.user-list {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 120rem;
}

.user-list-search {

    > label {
        display: block;

        font-size: 1.4rem;
        color: $color-gray-700;
    }

    > .user-list-input {
        grid-template-columns: 1fr auto;
        grid-gap: 1rem;

        display: grid;
    }

    input, select {
        box-shadow: inset 0.1rem 0.1rem hsla(0, 0%, 0%, 0.10), 0 -0.1rem 0 hsla(0, 0%, 100%, 0.15);
        border: 0;
        border-radius: 1rem;
        padding: 1rem;

        &:focus {
            outline: none;
        }
    }

    input {
        padding: 1rem 1.6rem;
    }
}

.user-list-list {
	border-spacing: 0;
    width: 100%;

    font-weight: 400;
}

.user-list-list td,
.user-list-list th {
    border-bottom: 0.1rem solid $color-gray-600;
	padding: 1.2rem 1.5rem;

	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.user-list-actions {
    display: flex;
}

.user-list-action {
    justify-content: center;
    align-items: center;

    display: flex;

    border: none;
    border-radius: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;

    background-color: $color-gray-500;
    cursor: pointer;

    font-size: 1.4rem;
    text-decoration-line: none;
    color: $color-gray-100;

    &:hover {
        background-color: $color-gray-700;
    }

    &:focus {
        outline: none;
    }

    &.-delete {

        &:hover {
            background-color: $color-red;

            color: $color-light;
        }
    }

    &.-promote {

        &:hover {
            background-color: $color-green;

            color: $color-light;
        }
    }

    +.user-list-action {
        margin-left: 0.5rem;
    }
}


.user-list-hide-tablet {
    display: none;
}

.user-list-hide-laptop {
    display: none;
}

@media (min-width: $breakpoint-tablet) {
    .user-list-hide-tablet {
        display: table-cell;
    }
}

@media (min-width: $breakpoint-laptop) {
    .user-list-hide-laptop {
        display: table-cell;
    }
}