// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Floats
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: " ";

	clear: both;

	display: table;
}