// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Floats
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: " ";

	clear: both;

	display: table;
}


// Containers
.text-container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 70rem;
}

.hide-element {
	display:none;
}