// Breakpoint
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$breakpoint-tablet:             40rem;
$breakpoint-laptop:             80rem;
$breakpoint-desktop:            120rem;
